<% provide(:title, "About") %>
<h1>What is Home Budget Friend App?</h1>
<p>
    Home budgeting process is complicated, yet an important aspect of wellbeing and success. The aim of "Home Budget Friend" is to easy the home budgeting pain and make of it an enjoyable experience.
</p>
<h1>How to use the app?</h1>

